
<div class="max-w-3xl py-4 px-8 bg-white shadow-lg rounded-lg m-auto">
    <div>
      <p class="mt-2 text-gray-600">"Health isn’t about being “perfect” with food or exercise or herbs. Health is about balancing those things with your desires. It’s about nourishing your spirit as well as your body.” </p>
    </div>
    <div class="flex justify-end mt-4">
      <a href="#" class="text-xl font-medium text-blue-500">Golda Poretsky</a>
      
    </div>
    <a class="underline ml-60" routerLink="/journal">Enter Wellness Journal</a> 
  </div>

