<form *ngIf="showCreateEntry" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Add Entry</label>
        <input type="text" name="text" id="text" placeholder="Add Entry"
        [(ngModel)]="text"
        />
    </div>
    <div class="form-control">
        <label for="text">Set Day</label>
        <input type="text" name="day" id="day" placeholder="Add Day"
        [(ngModel)]="day"
        />
    </div>
    <div class="form-control form-control-check">
        <label for="text">Task completed? </label>
        <input type="checkbox" name="completed" id="completed" 
        [(ngModel)]="completed"
        />
    </div>
    <input type="submit" value="Save Entry" class="btn btn-block add">
</form>