


<form *ngIf="showCreateEntry" class="add-form" (ngSubmit)="onSubmit()">
    
    
    <div class="flex ">
        <label for="text">Journal Entry:</label>
        <!-- <input type="text" name="textOld" id="textOld" placeholder="Add Entry"
        /> -->
        <textarea class="flex-grow" name="text" id="text" placeholder="Journal Entry" [(ngModel)]="text"></textarea>
    </div>
    <div class=" flex justify-between">
        <label for="text">Goal for the Day:</label>
        <input type="text" name="goal" id="goal" placeholder="Goal"
        [(ngModel)]="goal"
        />
    </div>
    <div class="flex justify-between">
        How many drinks did I have?
        <app-drinks (outRating)="takeDrinkRating($event)"></app-drinks>

    </div>

    <div class="flex justify-between">
        How positive was my mood?
        <app-mood-rating (outputMood)="takeMoodRating($event)"></app-mood-rating>

    </div>

    <div class="flex justify-between">
        <label class="flex-grow"for="text">Exercised?</label>
        <input class="flex-grow-2 padx-50"type="checkbox" name="exercise" id="exercise" 
        [(ngModel)]="exercise"
        />
    </div>
    <input type="submit" value="Save Entry" class="btn btn-block add">
</form>