.entry {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .completed {
    border-left: 5px solid rgb(52, 202, 52);
  }
  .completed-circle {
    background-color: rgb(52, 202, 52);
  }
  
  .entry h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  